.wrapper {
  border: 2px black solid;
  margin: 0 auto;
}

.app{
  height : 90%;
  min-height: 90%;
}


.buttonGroup {
  margin-top : 5px;
  align-items: center;
display: flex;
justify-content: center;
}

.finalScreen > div {
 min-height : 100%;
}

h1{
  align-items: center;
display: flex;
justify-content: center;
  color : white;
}


h2{
  align-items: center;
display: flex;
justify-content: center;
  color : white;
}

h4{
  align-items: center;
display: flex;
justify-content: center;
  color : white;
}

h6{
  color : white;
  align-items: center;
display: flex;
justify-content: center;
}


body{
  background-color: black;
  color : white;
  min-height: 90%;
  height : 90%;

}

html{
  height : 90%;
  min-height: 90%;
}
