.wrapper {
  border: 2px black solid;
  margin: 0 auto;
}


.buttonGroup {
  margin-top : 5px;
  align-items: center;
display: flex;
justify-content: center;
}

h1{
  align-items: center;
display: flex;
justify-content: center;
  color : white;
}


h2{
  align-items: center;
display: flex;
justify-content: center;
  color : white;
}


h6{
  color : white;
  align-items: center;
display: flex;
justify-content: center;
}


body{
  background-color: black;
  colour : white;
}
